%h2 会員入力情報
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .fieled
    = f.label :nickname, "ニックネーム"
    %span.require 必須
    %br/
    = f.text_field :nickname, autofocus: true, placeholder: "例）太郎"
  .field
    = f.label :email, "メールアドレス"
    %span.require 必須
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
  .field
    = f.label :password, "パスワード"
    %span.require 必須
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} )
    %br/
    = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"

  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
