%header.furima-header
  %h1
    %a{href: "/"}
      = image_tag "logo.png", alt: "フリマ"
%main.furima-contents
  .furima-main
    %h2.furima-main__title 会員入力情報
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .furima-main__form
        = f.label :nickname, "ニックネーム"
        %span.require 必須
        = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ太郎", class: "form-input"
      .furima-main__form
        = f.label :email, "メールアドレス"
        %span.require 必須
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "form-input"
      .furima-main__form
        = f.label :password, "パスワード"
        %span.require 必須
        - if @minimum_password_length
          -# %em
        = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: "form-input"
        %p.note-text ※英字と数字の両方を含めて設定してください
      .furima-main__relation
        %input{:type => "checkbox", :id => "reveal_password"}
        = f.label :reveal_password, "パスワードを表示する"
      .furima-main__form
        = f.label :password_confirmation, "パスワード再入力"
        %span.require 必須
        - if @minimum_password_length
          -# %em
        = f.password_field :password_confirmation, autocomplete: "password_confirm", placeholder: "パスワードを再入力してください", class: "form-input"
        %h3.text-single 本人確認
        %p.text-single__body 
        安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .furima-main__form
        %label お名前（全角）
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name, autofocus: true, placeholder: "例）山田", class: "form-input__half"
          = f.text_field :first_name, autofocus: true, placeholder: "例）太朗", class: "form-input__half"
      .furima-main__form
        = f.label :name_reading, "お名前カナ（全角）"
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name_reading, autofocus: true, placeholder: "例）ヤマダ", class: "form-input__half"
          = f.text_field :first_name_reading, autofocus: true, placeholder: "例）タロウ", class: "form-input__half"
      .furima-main__form
        = f.label :birthday, "生年月日"
        %span.require 必須
        %br/
        != sprintf(f.date_select(:birth_day,start_year: Time.now.year, end_year: 1900, use_month_numbers: true, prompt: "--", date_separator: "%s"), "年", "月") + "日"
        %p.info-text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .furima-main__actions
        = f.submit "次へ進む", class: "form-btn"
        .text-link
          %p
            %a{href: "/"} 本人情報の登録について
%footer.furima-footer
  %nav
    %ul
      %li
        %a{href: "/"} プライバシーポリシー
      %li
        %a{href: "/"} フリマ利用規約
      %li
        %a{href: "/"} 特定商品取引に関する表記
  %a{href: "/"}
    = image_tag "logo-white.png", alt: "フリマ"
    %p
      %small © FURIMA
= render "devise/shared/links"
