= render "devise/shared/header"
%main.furima-contents
  .furima-main
    %h2.furima-main__title 商品送付先住所情報
    = form_for(@destination, url: destinations_path, method: :post) do |f|
      = render "devise/shared/error_messages", resource: @destination
      .furima-main__form
        %label 送付先お名前（全角）
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name, autofocus: true, placeholder: "例）山田", class: "form-input__half"
          = f.text_field :first_name, autofocus: true, placeholder: "例）太朗", class: "form-input__half"
      .furima-main__form
        = f.label :name_reading, "送付先お名前カナ（全角）"
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name_reading, autofocus: true, placeholder: "例）ヤマダ", class: "form-input__half"
          = f.text_field :first_name_reading, autofocus: true, placeholder: "例）タロウ", class: "form-input__half"
      .furima-main__form
        = f.label :post_code, "郵便番号"
        %span.require 必須
        = f.text_field :post_code, {autofocus: true, placeholder: "例）123-4567", class: 'form-input'}
      .furima-main__form
        = f.label :prefecture, "都道府県"
        %span.require 必須
        = f.select :prefecture, Destination.prefectures.keys, {}, {class: 'form-input'}
      .furima-main__form
        = f.label :city, "市町村"
        %span.require 必須
        = f.text_field :city, autofocus: true, placeholder: "例）札幌市", class: 'form-input'
      .furima-main__form
        = f.label :address, "番地"
        %span.require 必須
        = f.text_field :address, autofocus: true, placeholder: "例）青葉1-1-1", class: 'form-input'
      .furima-main__form
        = f.label :building_name, "建物名"
        %span.optional 任意
        = f.text_field :building_name, autofocus: true, placeholder: "例）柳ビル103", class: 'form-input'
      .furima-main__form
        = f.label :phone_number, "電話番号"
        %span.optional 任意
        = f.telephone_field :phone_number, autofocus: true, placeholder: "例）090-1234-5678", class: 'form-input'
      .furima-main__form
        %label お名前（全角）
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name, autofocus: true, placeholder: "例）山田", class: "form-input__half"
          = f.text_field :first_name, autofocus: true, placeholder: "例）太朗", class: "form-input__half"
      .furima-main__form
        = f.label :name_reading, "お名前カナ（全角）"
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name_reading, autofocus: true, placeholder: "例）ヤマダ", class: "form-input__half"
          = f.text_field :first_name_reading, autofocus: true, placeholder: "例）タロウ", class: "form-input__half"
      .furima-main__actions
        = f.submit "登録する", class: "action-btn", url: "destinations"
= render "devise/shared/footer"