= render "devise/shared/header"
%main.furima-contents
  .furima-main
    %h2 パスワードをお忘れの方
    = form_for(@user, url: new_user_password_path, html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: @user
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "Send me reset password instructions"
= render "devise/shared/footer"
