= render "devise/shared/header"
.purchase
  .purchase__content
    .purchase__content__top
      購入内容の確認
    .purchase__content__bottom
      .purchase__content__bottom__center
        .purchase__content__bottom__center__left
          = image_tag @item.images[0].src.url, size:'120x110'
        .purchase__content__bottom__center__right
          .purchase__content__bottom__center__right__name
            = @item.name
          .purchase__content__bottom__center__right__price
            (税込)
            = "¥#{@item.price.to_s(:delimited, delimiter: ",")}"
      .purchase__content__bottom__pay
        .purchase__content__bottom__pay__name
          支払い金額
        .purchase__content__bottom__pay__price
          = "¥#{@item.price.to_s(:delimited, delimiter: ",")}"
    - if user_signed_in?
      .purchase__content__bottom__submit
        = link_to "購入する", item_purchases_path(@item), method: :post, class: "purchase__content__bottom__submit__buy"
    - else
      .purchase__content__bottom__submit
        = link_to "購入する",  new_user_session_path, class: "purchase__content__bottom__submit__buy"
= render "devise/shared/footer"
