%header.furima-header
  %h1
    %a{href: "/"}
      = image_tag "logo.png", alt: "フリマ"
%main.furima-contents
  .login-panel
    .login-panel__no
      %p アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", new_registration_path(resource_name)
    .login-panel__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-panel__form__first
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "login-form"
        .login-panel__form__input
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "login-form"
        .login-panel__form__input
          = f.password_field :password_confirmation, autocomplete: "password-confirm", placeholder: "パスワード再入力", class: "login-form"
        - if devise_mapping.rememberable?
          .login-panel__form__sub
            = f.submit "ログイン", class: "login-submit"
          = link_to "パスワードをお忘れの方", new_password_path(resource_name)
%footer.furima-footer
  %nav
    %ul
      %li
        %a{href: "/"} プライバシーポリシー
      %li
        %a{href: "/"} フリマ利用規約
      %li
        %a{href: "/"} 特定商品特定商品取引に関する表記
  = link_to "/", class: "footer-logo" do
    = image_tag "logo-white.png", alt: "フリマ"
  %p
    %small © FURIMA
 
