.footer
 %ul.contents
  %li.content
   %h2.content__head FURIMAについて
   %ul
    %li 
     = link_to '#' do 
      会社概要(運営会社)
    %li 
     = link_to '#' do
      プライバシーポリシー
    %li 
     = link_to '#' do
      FURIMA利用規約
    %li 
     = link_to '#' do
      ポイントに関する特約
  %li.content
   %h2.content__head FURIMAを見る
   %ul
    %li 
     = link_to '#' do
      カテゴリー一覧
    %li 
     = link_to '#' do
      ブランド一覧
  %li.content
   %h2.content__head ヘルプ&ガイド
   %ul
    %li 
     = link_to '#' do
      FURIMAガイド
    %li 
     = link_to '#' do
      FURIMAロゴ利用ガイドライン
    %li 
     = link_to '#' do
      お知らせ
     
 .footer__logo
  = link_to '#' do
   = image_tag 'logo-white.png'
 .p ©︎FURIMA
