.pcHeader
 .headerInner
  .mainHeader
   .icon
    = link_to '' do
     = image_tag 'logo.png'
   .searchBox
    .form
     .input
     %input#searchInput.searchBox--input{name: "key", placeholder:  "キーワードから探す"}
     .button{type: 'submit'}
      .searchBox__icon
       = image_tag 'icon-search 1.png'
   .resultLists



  .nav
   %ul.listsLeft
    %li.listsLeft__itemlistsLeft__item--first
     = link_to '#' do 
      カテゴリー
    %li.listsLeft__item
     = link_to '#' do 
      ブランド
   .listsRight
   - if user_signed_in?
    .listsRight__itemlistsRight__item--login
     = link_to "ログアウト", destroy_user_session_path, method: :delete
    .listsRight__itemlistsRight__item--new
     = link_to "マイページ", "#"
   - else
    .listsRight__itemlistsRight__item--login
     = link_to "ログイン", new_user_session_path
    .listsRight__itemlistsRight__item--new
     = link_to "新規登録", new_user_registration_path
      

