= render partial: 'header'

.main
 .showMain
  .contentLeft
  .contentRight
   .topContent
    .itemBox
     %h2.itemBox__name
      = @item.name
     .itemBox__body
      %ul
       %li
        = image_tag @item.images[0].src.url, size:'292x292'
     .itemBox__price
      .itemBox__body_sub
       - @item.images.each do |image|
        = image_tag image.src.url, size:'52x52'

      -#  - @item.images.each_with_index do |image, i|
      -#   = image_tag image.src.url, size:'52x52', class: "itemBox__body_sub--child"
         
      %span
       = "#{@item.price.to_s(:delimited, delimiter: ",")}"
      .itemBox__price-detail
       %span
        (税込)
       %span
        送料込み

     .itemDetail
      = @item.description

     .table
      %table
       %tbody
        %tr
         %th 出品者
         %td
          = @user.nickname
        %tr
         %th カテゴリー
         %td
          = @item.category.root.name
          %br
          = @item.category.parent.name
          %br
          = @item.category.name

        %tr
         %th ブランド
         %td
          - if @item.brand.present?
           = @item.brand
          - else
           = "---"
        %tr
         %th 商品の状態
         %td
          = @item.status_i18n
        %tr
         %th 配送料の負担
         %td
          = @item.cost_i18n
        %tr
         %th 発送元の地域
         %td 
          = @item.prefecture.name
        %tr
         %th 発送日の目安
         %td
          = @item.day_i18n

     .optionalArea
      %ul
       - if user_signed_in? && current_user.id == @item.user_id
        %li.optionalBtnlikeBtn
         = link_to edit_item_path(@item) do
          %span.purchaseBtn__text
           = icon('fas', 'edit fa-2x')
           編集する
        %li.optionalBtnlikeBtnDestroy
         = link_to item_path(@item), method: :delete do
          %span.purchaseBtn__text
           = icon('fas', 'trash-alt fa-2x')
           削除する
       - else
        %li.optionalBtnlikeBtn
         = link_to "#" do
          %span.purchaseBtn__text
           = icon('fas', 'cart-arrow-down fa-2x')
           購入する
      %ul.optional
       %li.optionalBtn
        = link_to '' do
         = icon('fas', 'flag')
         不適切な商品の通報

-# 今後実装
  -#   .commentBox
  -#    %ul.commmentContents
  -#    %form.new_comment{"accept-charset": "UTF-8", action: "#", method: "post"}
  -#     %input{name: "utf8", type: "hidden", value: "✓"}
  -#     %input{name: "authenticity_token", type: "hidden", value: "#"}
  -#     %textarea#comment_body{name: "comment[body]", required: "required"}
  -#     %P.noticeMsg
  -#      相手のことを考え丁寧なコメントを心がけましょう。
  -#      %br 
  -#       不快な言葉遣いなどは利用制限や退会処分となることがあります。
  -#     %button.commentBtn{name: 'button',type: 'submit'}
  -#      = icon('fas', 'comment')
  -#      コメントする

  -#  %ul.links.clearfix
  -#   %li.left
  -#    = link_to '' do
  -#     = icon('fas', 'angle-left')
  -#     %span 前の商品
  -#   %li.right
  -#    = link_to '' do
  -#     %span 後ろの商品
  -#     = icon('fas', 'angle-right')
    
  -#  .relatedItems
  -#   = link_to '#' do
  -#    ベビー・キッズをもっと見る
  -#   .productLists.clearfix

  -#    .productList
  -#     = link_to '' do
  -#      .productList--img
  -#       = image_tag 'icon/banana.png'
  -#      .productList--body
  -#       %h3.name aa
  -#       .details
  -#        %ul
  -#         %li.prise 1,000円
  -#         %li
  -#          = icon('fas', 'star likeIcon')
  -#          0
  -#        %p (税込)

%aside.appBanner
 .inner
  %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
  %p.inner__text 今すぐ無料ダウンロード！
  .inner__icon
   = link_to '#' do
    = image_tag 'app-store.svg'
   = link_to '#' do
    = image_tag 'google-play.svg'

= render partial: 'footer'
